header {
  padding: 20px;
  border-bottom: 1px solid gray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav a {
  color: cadetblue;
}

img {
  width: 45px;
  background-repeat: no-repeat;
  object-fit: cover;
  animation: rotate360 5s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
